# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
ENV/
env/
.venv/
env.bak/
.env.bak/
env/
.env/

# Pytest cache
.pytest_cache/
.cache/

# MyPy cache
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and databases
*.log
*.sql
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Static files
staticfiles/
media/

# MacOS
.DS_Store

# Windows
Thumbs.db

idea/